<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devexpert.forfoodiesbyfoodies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForFoodiesByFoodies">
        <activity android:name=".activities.ForgetPasswordActivity"></activity>
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.AddRestaurantActivity" />
        <activity android:name=".activities.OtherUserProfileActivity" />
        <activity android:name=".activities.AddStreetFoodActivity" />
        <activity android:name=".activities.ReviewsActivity" />
        <activity android:name=".activities.ReservationActivity" />
        <activity android:name=".activities.RestaurantDetailActivity" />
        <activity
            android:name=".activities.DashBoardActivity"
            android:theme="@style/Theme.ForFoodiesByFoodies.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/Theme.ForFoodiesByFoodies.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.ForFoodiesByFoodies.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.ForFoodiesByFoodies.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>